@layer open-props, base, styles;
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url(https://unpkg.com/open-props/open-props.min.css);
@import url(https://unpkg.com/open-props/normalize.min.css);

.card-container {
    container-name: answer;
    align-items: center;
  }

@container style(--correct: true) {
    .answer-card {
      background-color: rgb(0,255,0);
    }
}
@container style(--correct: false) {
    .answer-card {
      background-color: rgb(255,0,0);
    }
}

@layer styles {
    
    .card-container {
      display: grid;
    }
    
    .answer-card {
      display: grid;
      padding: 1.5rem;
      border-radius: 0.5rem;
      line-height: 1.2;
      box-shadow: var(--shadow-4);
      position: relative;
    }
}
p:first-of-type:first-letter {
    font-family: "Merriweather", serif;
    initial-letter: var(--initial, 2 2);
    -webkit-initial-letter: var(--initial, 2 2);
    font-weight: bold;
    margin-right: 1rem;
    color: var(--indigo-8);
    text-shadow: 0.25rem 0.25rem purple;
  }

body{
    align-items: center;
}